{# templates/article/detail.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Detail článku{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <p><small class="text-muted">Autor: {{ article.author }}</small></p>
        <p><small class="text-muted">Přidáno: {{ article.createdAt|date('d.m.Y') }}</small></p>

        <div>
            <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.title }}" class="img-fluid" />
        </div>

        <div>
            <p>{{ article.content }}</p>
        </div>

        <a href="{{ path('article_list') }}" class="btn btn-secondary">Zpět na seznam článků</a>
    </div>
{% endblock %}
