{% extends 'base.html.twig' %}
{% block title %}Kontakt{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Odeslání Ticketu</h1>

        <!-- Zobrazení formuláře -->
        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
            <div class="mb-3">
                {{ form_label(form.subject, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.subject, {'attr': {'class': 'invalid-feedback'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.reason, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.reason, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.reason, {'attr': {'class': 'invalid-feedback'}}) }}
            </div>

            <div class="mb-3">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        {{ form_end(form) }}

        <!-- Flash message -->
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
